[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
streamlit = "*"
langchain = "*"
langchain-openai = "*"
st-chat-message = "*"
ctransformers = "*"

[dev-packages]

[requires]
python_version = "3.12"
